
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'landing';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
  background: linear-gradient(0deg, #151617 30%,#203444 70%);
}
*{
  font-family: 'Montserrat';
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.font-gloria{
  font-family: 'Gloria';
}
.font-odachi{
  font-family: 'Odachi';
}

.full-page{
  width: 100vw;
  height: 100vh;
}

.app-header{
  display:flex;
  align-items: 'center';
  justify-content: space-between;
  padding:20px 50px;
  width:100%;
  position: sticky;
  top:0;
  .app-logo
  {
    a{
      display:flex;
      align-items: center;
      justify-content: center;
    }
    h2{
      color: #fff;
    }
    img{
      width: 30px;
      margin-right: 1rem;
    }
  }

  .app-actions
  {
    .btn-signin{
      background-color: $red;
      color:#fff;
      padding: 8px 30px;
      box-shadow: none;
      border-radius: 40px;
      border: 1px solid $red;
      text-decoration: none;
    }
  }
}

.city-container{
  transition: 0.5s ease-in-out;
}


::-webkit-scrollbar {
  width: 5px !important;
  height: 8px;
  transition: 0.2s ease-out;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: $red;
  height: 15px;
  cursor: pointer;
}

.app-header{
  z-index: 50;
}